<body>
<div class="container img ">
  
  <form [formGroup]="loginForm" (ngSubmit)="login()" > 
    <h1>LOGIN</h1>
    <h3>{{aim}}</h3>
   
    <div class="box">
      
       <div class="login">
           
           <input type="text" id="login" name="acno" formControlName="acno"  placeholder="acno">
           <div *ngIf="(this.loginForm.get('acno')?.touched || this.loginForm.get('acno')?.dirty) && this.loginForm.get('acno')?.errors" class="error">Invalid Account_Num</div>
           </div>
           <div class="psswd"> 
           <input type="password" id="pswd" name="pswd" formControlName="pswd" placeholder="password">
           <div *ngIf="(this.loginForm.get('pswd')?.touched || this.loginForm.get('pswd')?.dirty) && this.loginForm.get('pswd')?.errors" class="error">Invalid password</div>
       </div>
       <div class="button">
           <button class="btn btn-primary" type="submit">login</button><br>
        </div>
    
        <div class="reg"> 
           <a class="textfp" routerLink="register">Sign Up</a> </div>
    </div>
</form>
</div>
</body>

    
    
